html {
	height: 100%;
	background-color: #000000;
	margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
	height: 100%;
}

.navigation-bar {
    margin: 0px;
	padding: 0px;
    top: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.7em;
    z-index: 99;
    width: 100%;
    display: inline-block;
}

.navigation-bar .main {
	margin: 0px;
	float: left;
	padding: 14px 28px;
	text-decoration: none;
    background-color: gray;
    color: white;
}

.navigation-bar a {
	margin: 0px;
    color: gray;
    float: left;
    padding: 14px 28px;
    text-decoration: none;
    transition: background-color .5s;
	transition: color .5s;
}

.navigation-bar a:hover:not(.active) {
	margin: 0px;
	padding: 14px 28px;
    background-color: #404040;
    color: #c0c0c0;
}

.parallax-image {
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-image: url("imgs/1.JPG");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 100%;
}

.centered-text-box {
    text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.content-holder-black {
	margin: 0px;
	color: white;
    padding: 1% 20%;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

.content-holder-grey {
	margin: 0px;
	color: white;
    padding: 1% 20%;
	background-color: #202020;
	font-family: 'Roboto', sans-serif;
}

.title {
	margin: 0px;
	text-align: center;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.9em;
}